/* every element can be clickable =>  style="cursor: pointer;" onclick="function()"  */

body {
  text-align: center;
  font-family: 'Ubuntu', monospace;
}

table {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  border-radius: 5px;
  padding: 1px 5px 1px 5px;
  /* top,right,bottom,left */
  margin: 8px;
  text-transform: capitalize;
  color: #111111;
  background-color: #FFDC00;
  font-family: 'Ubuntu', sans-serif;
}

h2 {
  text-transform: capitalize;
  color: #0074D9;
  font-family: 'Ubuntu', sans-serif;
}

ul {
  list-style-position: inside;
  list-style-type: square;
}

hr {
  border: 1px solid red;
}

.paragraph {
  padding: 1px 5px 1px 5px;
  /* top,right,bottom,left */
  margin: 8px;
  border-radius: 10px;
  background-color: #01FF70;
  text-indent: 10px;
}

.paragraph .baslik {
  font-weight: bold;
  font-style: italic;
  background-color: orange;
  border-radius: 10px;
  color: black;
}

.code_example {
  display: block;
  color: red;
  font-style: italic;
}

.e {
  /* emphasis the word */
  color: #F012BE;
  font-weight: bold;
}

/*   SoloLearn examples Starts from Here ... ------------------------------------------------------------------------------------------------------- */
/* font-family */
p.serif {
  font-family: "Times New Roman", Times, serif;
}

p.sansserif {
  font-family: Helvetica, Arial, sans-serif;
}

p.monospace {
  font-family: "Courier New", Courier, monospace;
}

p.cursive {
  font-family: Florence, cursive;
}

p.fantasy {
  font-family: Blippo, fantasy;
}

/* font-size */
p.nine {
  font-size: 9px;
}

p.small {
  font-size: small;
}

p.medium {
  font-size: medium;
}

p.large {
  font-size: large;
}

p.xlarge {
  font-size: x-large;
}

/* font-style */
p.normalstyle {
  font-style: normal;
}

p.italic {
  font-style: italic;
}

p.oblique {
  font-style: oblique;
}

/* font-weight  */
p.light {
  font-weight: lighter;
}

p.bold {
  font-weight: bold;
}

p.bolder {
  font-weight: bolder;
}

p.thicker {
  font-weight: 700;
}

/*  font-variant  */
p.normalvariant {
  font-variant: normal;
}

p.small {
  font-variant: small-caps;
}

/*  color  */
p.example {
  color: green;
}

p.example2 {
  color: rgb(128, 0, 128);
}

p.example3 {
  color: #7FDBFF;
}

/*  Aligning Text Horizontally */
p.left {
  text-align: left;
}

p.right {
  text-align: right;
}

p.center {
  text-align: center;
}

/*  Aligning Text Vertically */
td.top {
  vertical-align: top;
}

td.middle {
  vertical-align: middle;
}

td.bottom {
  vertical-align: bottom;
}

span.baseline {
  vertical-align: baseline;
}

span.sub {
  vertical-align: sub;
}

span.super {
  vertical-align: super;
}

span.pixel {
  vertical-align: -10px;
}

.main {
  height: 150px;
  width: 400px;
  background-color: LightSkyBlue;
  display: inline-table;
}

.para {
  display: table-cell;
  vertical-align: middle;
}

/*  text-decoration */
p.none {
  text-decoration: none;
}

p.inherit {
  text-decoration: inherit;
}

p.overline {
  text-decoration: overline;
}

p.underline {
  text-decoration: underline;
}

p.line-through {
  text-decoration: line-through;
}

/*  Indenting the Text */
p.intent {
  text-align: left;
  text-indent: 60px;
}

/*  text-shadow */
p.shadow {
  color: blue;
  font-size: 30pt;
  text-shadow: 5px 2px 4px grey;
}

p.blur {
  font-size: 20pt;
  text-shadow: rgba(0, 0, 255, 1) -1px -2px 0.5em;
}

/*  text-transform */
p.capitalize {
  text-transform: capitalize;
}

p.uppercase {
  text-transform: uppercase;
}

p.lowercase {
  text-transform: lowercase;
}

/*  letter-spacing */
p.normalspacing {
  letter-spacing: normal;
}

p.positive {
  letter-spacing: 4px;
}

p.negative {
  letter-spacing: -1.5px;
}

/*  word-spacing */
p.normalwordspacing {
  word-spacing: normal;
}

p.pxwordspacing {
  word-spacing: 30px;
}

p.positivewordspacing {
  word-spacing: 20px;
}

p.negativewordspacing {
  word-spacing: -5px;
}

/*  white-spacing */
p.whitespace {
  white-space: nowrap;
}

p.pre {
  text-align: left;
  white-space: pre;
}

p.preline {
  text-align: left;
  white-space: pre-line;
}

p.prewrap {  /* Pre-wrap value behaves as the pre value, except that it adds extra line breaks to prevent the text breaking out of the element's box. */
  text-align: left;
  white-space: pre-wrap;
}

/*    PROPERTIES  ----------------------------------------------------------------------------------------------------------------- */
